{% extends "base.html" %}  

{% block titulo %}
    Editar Detalle de Factura
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Editar Información Detalle de Factura 
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos Detalle de Factura </h4>
            {% include 'crud_detalle_factura/formulario_factura_detalle.html' %}
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock %}