{% extends "base.html" %}  

{% block titulo %}
    Lista Detalle de Facturas
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'factura_detalle_crear' %}" role="button">Agregar Nuevo Detalle de Factura</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Detalles de Facturas</h4>
            <div class="table-responsive">
                <table class="table align-middle table-hover table-bordered table table-striped">
                    <thead>
                        <tr class="align-bottom">
                            <th scope="col">ID Detalle Factura</th>
                            <th scope="col">Numero Factura</th>
                            <th scope="col">Valor Unitario</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">IVA</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Total</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factura_detalle in factura_detalle %}
                        <tr class="">
                            <td scope="row">{{ factura_detalle.id }}</td>
                            <td>{{ factura_detalle.numero_factura }}</td>
                            <td>{{ factura_detalle.valor_unitario }}</td>
                            <td>{{ factura_detalle.cantidad }}</td>
                            <td>{{ factura_detalle.iva }}</td>
                            <td>{{ factura_detalle.fecha }}</td>
                            <td>{{ factura_detalle.total }}</td>
                            <td>
                                <a name="" id="" class="btn btn-info" href="{% url 'factura_detalle_editar' factura_detalle.id %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'factura_detalle_eliminar' factura_detalle.id %}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted"> 
        </div>
    </div>
{% endblock %}