{% extends "base.html" %}  

{% block titulo %}
    Editar detalles del Carrito
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Editar Información del Carrito
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del Carrito</h4>
            {% include 'carrito/formulario_carrito_detalle.html' %}
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock %}