{% extends "base.html" %} {% block titulo %} Lista Carrito {% endblock %} {%
block content %}
<div class="card">
  <div class="card-header">
    <a
      name=""
      id=""
      class="btn btn-success"
      href="{% url 'carrito_insertar' %}"
      role="button"
      >Agregar al Carrito</a
    >
  </div>

  <div class="card-body">
    <h4 class="card-title">Carrito</h4>

    <div class="table-responsive">
      <table
        class="table align-middle table-hover table-bordered table table-striped"
      >
        <thead>
          <tr class="align-bottom">
            <th scope="col">id carrito</th>
            <th scope="col">producto</th>
            <th scope="col">usuario</th>
            <th scope="col">editar</th>
          </tr>
        </thead>
        <tbody>
          {% for carrito_detalle in carrito_detalle %}
          <tr class="">
            <td scope="row">{{ carrito_detalle.id }}</td>
            <td>{{ carrito_detalle.producto }}</td>
            <td>{{ carrito_detalle.user }}</td>
            <td>
              <a
                name=""
                id=""
                class="btn btn-info"
                href="{% url 'carrito_editar' carrito_detalle.id %}"
                role="button"
                >Editar</a
              >
              <a
                name=""
                id=""
                class="btn btn-danger"
                href="{% url 'carrito_eliminar' carrito_detalle.id %}"
                role="button"
                >Borrar</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>
{% endblock %}
