{% extends "base.html" %}  

{% block titulo %}
    Lista de Facturas
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a name="" id="" class="btn btn-success" href="{% url 'factura_crear' %}" role="button">Agregar Nueva Factura</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Facturas</h4>
            <div class="table-responsive">
                <table class="table align-middle table-hover table-bordered table table-striped">
                    <thead>
                        <tr class="align-bottom">
                            <th scope="col">ID Factura</th>
                            <th scope="col">Número de Factura</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Fecha de Nacimiento</th>
                            <th scope="col">Genero</th>
                            <th scope="col">Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for factura in factura %}
                        <tr class="">
                            <td scope="row">{{ factura.id }}</td>
                            <td>{{ factura.numero_factura }}</td>
                            <td>{{ factura.nombre }}</td>
                            <td>{{ factura.direccion }}</td>
                            <td>{{ factura.telefono }}</td>
                            <td>{{ factura.fecha_nacimineto }}</td>
                            <td>{{ factura.genero }}</td>
                            <td>
                                <a name="" id="" class="btn btn-info" href="{% url 'editar' factura.id %}" role="button">Editar</a>
                                <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' factura.id %}" role="button">Borrar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
{% endblock %}